body {
    margin: 0;
    background-color: rgb(162, 162, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

#pokedex {
    min-height: 50vh;
    color: white;
    display: flex;
    max-width: 99%;
}

.info-container {
    background-color: white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: -40px;
    height: 100px;
}

.hover-effect:hover {
    scale: 1.02;
    cursor: pointer;
}


.hover-effect-small:hover {
    scale: 1.5;
    cursor: pointer;
}


.card_headline {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

.card_headline_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 95%;
}

.types-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}


.type_container {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 16px;
}

.type {
    padding: 4px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}

.card-body {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.card-body-details {
    border-radius: var(--bs-border-radius);
    display: flex;
    align-items: center;
}

.single-pokemon {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.container-single-pokemon {
 max-height: 100%;

}

.card-width-detail {
    width: 90%;
}

.btn-container-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 24px;
}

.btn-container-detail button {
    padding: 8px;
    width: 64px;
    aspect-ratio: 1 / 1;
}

.btn-detail {
    border-radius: 5px;
}

footer {
    font-size: 12px;
    border-top: 1px solid grey;
    text-align: center;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.border-none {
    border: none;
}

.card_headline_details p {
    margin: 0;
}

.card-detail-right h5 {
    margin: 0;
}

.types-details .type_container {
    margin: 0;
}

.sizes {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.stats {
    width: 100%;
    aspect-ratio: 2/1.2;
    /*position: relative;*/
}

.container-card {
    display: flex;
    background-color: white;
    border-radius: 8px;
}

.card-body-details {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
}


.img-details {
    width: 90%;
}

.accordion {
    width: 100%;
}

.right-side-complete {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-evolution {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-evolution, .second-evolution, .third-evolution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    text-align: center;
    width: 33%;
}

.accordion-body-evolution {
    padding-left: 0;
    padding-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-img-evolution-detail {
    width: 50%;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-evolution-detail {
    width: 100%;
    padding: 5%;
}

.evolution-p {
    font-size: 10px;
    margin-bottom: 0;
    border-radius: 100%;
    padding: 10%;
}

.no-evolution-p {
    font-size: 16px;
    margin-bottom: 0;

}

.img-no-evolution {
    width: 35%;
}


.container-no-evolution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.arrow-evolution {
    margin: 0;
    font-size: 24px;
}



/* Type-colors */

.normal {
    background-color: #A8A878;
    /* border: 1px solid #6D6D4E; */
    border: none;
}

.fire {
    background-color: #F08030;
    /* border: 1px solid #9C531F; */
    border: none;
}

.water {
    background-color: #6890F0;
    /* border: 1px solid #445E9C; */
    border: none;
}

.electric {
    background-color: #F8D030;
    /* border: 1px solid #A1871F; */
    border: none;
}

.grass {
    background-color: #78C850;
    /*border: 1px solid #4E8234;*/
    border: none;
}

.ice {
    background-color: #98D8D8;
    /* border: 1px solid #638D8D; */
    border: none;
}

.ground {
    background-color: #E0C068;
    /* border: 1px solid #927D44; */
    border: none;
}

.flying {
    background-color: #A890F0;
    /* border: 1px solid #6D5E9C; */
    border: none;
}

.ghost {
    background-color: #705898;
    /* border: 1px solid #493963; */
    border: none;
}

.rock {
    background-color: #B8A038;
    /* border: 1px solid #786824; */
    border: none;
}

.fighting {
    background-color: #C03028;
    /* border: 1px solid #7D1F1A; */
    border: none;
}

.poison {
    background-color: #A040A0;
    /* border: 1px solid #682A68; */
    border: none;
}

.psychic {
    background-color: #F85888;
    /* border: 1px solid #A13959; */
    border: none;
}

.bug {
    background-color: #A8B820;
    /* border: 1px solid #6D7815; */
    border: none;
}

.dark {
    background-color: #705848;
    /* border: 1px solid #49392F; */
    border: none;
}

.steel {
    background-color: #B8B8D0;
    /* border: 1px solid #787887; */
    border: none;
}

.dragon {
    background-color: #7038F8;
    /* border: 1px solid #4924A1; */
    border: none;
}


/* @media (max-width: 575px) {
    .margin-horizontal {
        margin-left: 1%;
        margin-right: 1%;
    }
} */


@media (max-width: 350px) {

    .small-headline-350px {
        font-size: 16px;
    }

    .small-350px {
        font-size: 14px;
    }

    .sizes {
        gap: 6px;
    }

}


@media (max-width: 630px) {

    .container-card {
        flex-direction: column;
    }

    .card-body-details {
        width: 100%;
    }

    .right-side-complete {
        width: 100%;
    }

    .img-details {
        width: 50%;
    }


}